*logs
__pycache__
.idea
figs_verification_parallel_seqs/*
CurrentOptunaStudyDump/
optuna_results/
stats_pics/
*.ckpt
.vscode/
neuromorse_data/NeuroMorse/*
neuromorse_data/TrainDataset.pckl
old_figures/
braille_data/
optuna_studies/
optuna_visualizations/
*.csv
*.pkl
*.mat
*.npy