absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alembic==1.14.1
archspec
asttokens
astunparse==1.6.3
async-timeout==5.0.1
attrs
audioread==3.0.1
beautifulsoup4
boltons
Brotli
certifi
cffi
chardet
charset-normalizer
click
colorlog==6.9.0
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_index
conda_package_streaming
contourpy==1.3.1
cryptography
cycler==0.12.1
decorator
distro
dnspython==2.6.1
exceptiongroup
executing
expecttest==0.2.1
expelliarmus==1.1.12
filelock
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.2.0
gmpy2
greenlet==3.1.1
grpcio==1.69.0
h5py==3.12.1
hypothesis==6.98.10
idna
imageio==2.36.1
importRosbag==1.0.4
ipython
jedi
Jinja2
joblib==1.4.2
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
kiwisolver==1.4.8
lazy_loader==0.4
libarchive-c
libmambapy
librosa==0.10.2.post1
lightning-utilities==0.11.9
llvmlite==0.43.0
Mako==1.3.8
Markdown==3.7
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
menuinst
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
mpmath
msgpack==1.1.0
multidict==6.1.0
networkx
nir==1.0.4
nirtorch==1.0
numba==0.60.0
numpy==1.26.3
optree==0.10.0
optuna==4.2.0
packaging
pandas==2.2.3
parso
pbr==6.1.0
pexpect
pillow
pkginfo
platformdirs
pluggy
pooch==1.8.2
prompt-toolkit
propcache==0.2.1
protobuf==5.29.2
psutil
psycopg2-binary==2.9.10
ptyprocess
pure-eval
pycosat
pycparser
Pygments
pyOpenSSL
pyparsing==3.2.1
PySocks
python-dateutil==2.9.0.post0
python-etcd==0.4.5
pytorch-lightning==2.5.0.post0
pytz
PyYAML
referencing
requests
rpds-py
ruamel.yaml
ruamel.yaml.clib
scikit-learn==1.6.0
scipy==1.15.0
seaborn==0.13.2
six
snntorch==0.9.1
sortedcontainers==2.4.0
soundfile==0.13.0
soupsieve
soxr==0.5.0.post1
SQLAlchemy==2.0.37
stack-data
sympy
tensorboard==2.18.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tomli
tonic==1.5.0
toolz
torch==2.2.1
torchaudio==2.2.1
torchelastic==0.2.2
torchmetrics==1.6.1
torchvision==0.17.1
tqdm
traitlets
triton==2.2.0
truststore
types-dataclasses==0.6.6
typing_extensions
tzdata==2024.2
urllib3
wcwidth
Werkzeug==3.1.3
yarl==1.18.3
zstandard
